.logo {
  text-align: center;
}

.indexCenter {
  height: auto;
  width: 180px;
}

.welcomeMessage {
  text-align: center;
  font-weight: bold;
}

.introduction {
  padding-left: 30px;
  padding-right: 30px;
}

.btc .img {
  height: auto;
  width: 250px;
}

.eth .img {
  height: auto;
  width: 250px;
}
