/* Homepage */
.hero {
  display: flex;
  justify-content: center;
}

.indexCenter {
  height: auto;
  width: 180px;
}

.welcomeMessage {
  text-align: center;
  font-weight: bold;
}

.introductionHeader {
  font-weight: bold;
  font-size: 19px;
}

.introductionMessage {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links ul {
  display: flex;
  gap: 2%;
  list-style: none;
}

/* About page */
.aboutUs h1 {
  text-align: center;
}

.aboutKingcobra .header {
  font-weight: bold;
  font-size: 18px;
}

.content {
  padding: 0 25px;
}

.coreValuesStatement {
  font-weight: bold;
}

/* Donation page */
.crypto {
  display: flex;
  justify-content: space-evenly;
}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.qrCode {
  height: auto;
  width: 250px;
  align-self: center;
}

/* Across pages */
.introduction,
.aboutKingcobra,
.aboutFounder,
.aboutCommunity {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

/* All */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer ul {
  display: flex;
  gap: 28px;
  font-size: 13px;
}
